{% extends 'base.html.twig' %}

{% block header %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/img/mdl.png" alt="Logo Maison Des Ligues" width="100"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Accueil</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Ateliers
                        </a>
                        <ul class="dropdown-menu" >
                            <li><a class="dropdown-item" href="/1">Le Club et son Projet</a></li>
                            <li><a class="dropdown-item" href="/2">Le fonctionnement du Club</a></li>
                            <li><a class="dropdown-item" href="/3">Les outils à disposition <br/> et remis aux Clubs</a></li>
                            <li><a class="dropdown-item" href="/4">Obervatoire des métiers de l'Escrime</a></li>
                            <li><a class="dropdown-item" href="/5">I.F.F.E</a></li>
                            <li><a class="dropdown-item" href="/6">Développement Durable</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Une autre dropdown de navbar(vide)
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/1">1</a></li>
                            <li><a class="dropdown-item" href="/2">2</a></li>
                            <li><a class="dropdown-item" href="/3">3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="nav-link" href="/inscription">inscription</a>
                    </li>

                </ul>
                <form class="d-flex gap-2" role="connect">
{#                    après avoir cliqué sur le bouton on redirige vers un écran de connection #}
                    <button class="btn btn-warning" type="submit" style="color:purple;">Se Connecter</button>
                </form>
            </div>
        </div>
    </nav>
    <hr class="rounded">
{% endblock %}