<h1>Maison des ligues confirmation email</h1>

<p>
    Merci de confirmer votre adresse email en cliquant sur ce lien : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    Ce lien expire dans ... {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
