/* Fond coloré et animé autour du formulaire */
#regForm::before,
#regForm::after {
  filter:blur(3px);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #ff0000, #00f0f0, #00ff00, #0000ff, #ff0000, #00f0f0, #00ff00, #0000ff, #f00f0f);
  width: 100%;
  height: 100%;
  transform: scale(1.0320);
  z-index: -1;
  background-size: 500%;
  animation: animate 20s infinite;
}

@keyframes animate {
	0% {background-position: 0 0;}
	50% {background-position: 300% 0;}
	100% {background-position: 0 0;}
}

/* Centrage du formulaire au milieu de la page */
#regForm {
    background-color: white;
    top: 50%; /* IMPORTANT */
    left: 50%; /* IMPORTANT */
    display: block;
    position: absolute;
    width: 750px;
    height: 417px;
    margin-top: -208.5px; /* HALF OF THE HEIGHT */
    margin-left: -375px; /* HALF OF THE WIDTH */
    text-align: center;
}

#bouttonEnregistrement {
    width: 150px;
    height: 75px;
    font-weight: bold;
}

.errorMessage {
    color:red;
}

body {
    background-color: black;
}