{% extends 'base.html.twig' %}

{% block title %}Maison Des Ligues{% endblock %}

{% block header %}
    {% include '/HTMLelements/header.html.twig' %}
{% endblock %}

{% block body %}
    <div>
        
    </div>
{% endblock %}

{% block footer %}
{#    {% include '/HTMLelements/footer.html.twig' %}#}
{# footer not sticky to bottom#}
{% endblock %}

