{% extends 'base.html.twig' %}

{% block title %}Statistiques de connexion{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center text-warning p-2">Inscription au congrés</h1>
    </div>
{% endblock %}
